// @mixin button-style {
//   text-transform: uppercase;
//   text-decoration: none;
//   display: inline-block;
//   border-radius: 100px;
//   transition: all .2s;
//   position: relative;
//   font-size: $default-font-size;
// }

@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin absCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// MEDIA QUERY MANAGER 


/* 
0-600px Phone
600-900px - Tablet portrait
900-1200px - Tablet Landscape
1200-1800px - Where our normal styles apply
1800px: Big Desktop


*/

@mixin respond-phone {
  @media (max-width: 600px) {@content};
}

/*
- phone
- tab-port
- tab-land
- big-desktop

1em = 16px

ORDER: Base + typography > general layout + grid > page layout > components
*/

@mixin respond ($breakpoint) {
  @if $breakpoint == phone {
    // if the width is between 0-600px; 37.5em === 600px (600/16)
    @media only screen and  (max-width: 37.5em) {@content};
  }

  @if $breakpoint == tab-port {

     // if the width is between 601-900px;  56.25em === 900px (900/16)
    @media only screen and (max-width: 56.25em) {@content};
  }

  @if $breakpoint == tab-land {
     // if the width is between 901-1200px;  75em === 1200px (1200/16)
    @media only screen and (max-width: 75em) {@content};
  }

  @if $breakpoint == big-desktop {
     // if the width is greater than 1800px or the minimum width is 1800px; 112.5em === 1800px (1800/16)
    @media only screen and (min-width: 112.5em) {@content};
  }
}